.root {
  position: relative;
  width: 24px;
  height: 24px;
  align-items: flex-start;
}
.combinedShape {
  position: absolute;
  left: 8.3333%;
  right: 8.3333%;
  top: 43.7083%;
  bottom: 43.7917%;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
