.root {
  position: absolute;
  left: 45.6667%;
  right: 52.3333%;
  top: 2.6178%;
  bottom: 94.2408%;
  align-items: flex-start;
  overflow: hidden;
}
.vector {
  position: absolute;
  left: 75%;
  right: 8.3333%;
  top: 41.6667%;
  bottom: 41.6667%;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
.vector2 {
  position: absolute;
  left: 41.6667%;
  right: 41.6667%;
  top: 41.6667%;
  bottom: 41.6667%;
  overflow: visible;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.vector3 {
  position: absolute;
  left: 8.3333%;
  right: 75%;
  top: 41.6667%;
  bottom: 41.6667%;
  overflow: visible;
}
.icon3 {
  width: 100%;
  height: 100%;
}
