.moveUp.moveUp {
  left: 78%;
  top: 76.3413%;
}
.vector.vector {
  position: initial;
  top: initial;
  right: initial;
  bottom: initial;
  left: initial;
}
.moveDown.moveDown {
  left: 75.5%;
  top: 76.3413%;
}
.vector2.vector2 {
  position: initial;
  top: initial;
  right: initial;
  bottom: initial;
  left: initial;
}
.moveUp2.moveUp2 {
  left: 77.8333%;
  top: 56.755%;
}
.vector3.vector3 {
  position: initial;
  top: initial;
  right: initial;
  bottom: initial;
  left: initial;
}
.moveDown2.moveDown2 {
  left: 75.3333%;
  top: 56.755%;
}
.vector4.vector4 {
  position: initial;
  top: initial;
  right: initial;
  bottom: initial;
  left: initial;
}
.moveUp3.moveUp3 {
  left: 77.6667%;
  top: 25.9858%;
}
.vector5.vector5 {
  position: initial;
  top: initial;
  right: initial;
  bottom: initial;
  left: initial;
}
.moveDown3.moveDown3 {
  left: 75.1667%;
  top: 25.9858%;
}
.vector6.vector6 {
  position: initial;
  top: initial;
  right: initial;
  bottom: initial;
  left: initial;
}
.tertiaryButton.tertiaryButton {
  width: 113px;
  gap: initial;
  padding: initial;
  outline: solid NaNpx #d9d9d6;
  background-color: initial;
}
.card.card {
  position: initial;
}
.cIBCICONS201949.cIBCICONS201949 {
  position: initial;
  top: initial;
  right: initial;
  bottom: initial;
  left: initial;
}
.cIBCICONS201949 {
  position: initial;
  top: initial;
  right: initial;
  bottom: initial;
  left: initial;
}
.icon {
  width: 100%;
  height: 100%;
}
.text {
  color: #383b3e;
  font-size: 17px;
  line-height: 24px;
  font-weight: 500;
  font-family: Whitney, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 61px;
  flex-direction: column;
}
.tertiaryButton2.tertiaryButton2 {
  width: 44px;
  gap: initial;
  padding: initial;
  outline: solid NaNpx #d9d9d6;
  background-color: initial;
}
.moreHorizontal.moreHorizontal {
  position: initial;
}
.combinedShape.combinedShape {
  position: initial;
  top: initial;
  right: initial;
  bottom: initial;
  left: initial;
}
.combinedShape {
  position: initial;
  top: initial;
  right: initial;
  bottom: initial;
  left: initial;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.statusAlert.statusAlert {
  width: initial;
  height: 94px;
  align-self: stretch;
  flex-direction: initial;
  gap: initial;
  padding: initial;
  background-color: initial;
}
.alert.alert.alert {
  width: 620px;
  height: initial;
  gap: initial;
}
.confirmed.confirmed.confirmed.confirmed {
  position: initial;
}
.vector7.vector7.vector7.vector7 {
  position: initial;
  top: initial;
  right: initial;
  bottom: initial;
  left: initial;
  width: 16.6667px;
  height: 16.6667px;
}
.cTALink.cTALink {
  width: 620px;
  align-self: initial;
  flex-direction: initial;
  padding: initial;
  background-color: initial;
}
.textLinks.textLinks {
  width: 590px;
  align-self: initial;
  gap: initial;
  padding: initial;
  background-color: initial;
}
.statusAlert2.statusAlert2 {
  width: initial;
  align-self: stretch;
  padding: initial;
  background-color: initial;
}
.alert2.alert2.alert2 {
  align-self: initial;
  gap: initial;
}
.confirmed2.confirmed2.confirmed2.confirmed2 {
  position: initial;
}
.vector8.vector8.vector8.vector8 {
  position: initial;
  top: initial;
  right: initial;
  bottom: initial;
  left: initial;
  width: 16.6667px;
  height: 16.6667px;
}
.root {
  position: relative;
  width: 100vw;
  height: 100vh;
  align-items: flex-start;
  background-color: #272727;
  overflow: hidden;
}
.frame41967 {
  position: absolute;
  left: 135px;
  top: 210px;
  width: min-content;
  height: min-content;
  align-items: flex-start;
  gap: 180px;
}
.frame41966 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 116px;
}
.group41492 {
  position: relative;
  width: 385px;
  height: 97px;
}
.rectangle2603 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 69.0722%;
  width: 385px;
  height: 30px;
  background-color: #d9d9d9;
}
.rectangle2604 {
  position: absolute;
  left: 0;
  right: 25.974%;
  top: 69.0722%;
  bottom: 0;
  width: 285px;
  height: 30px;
  background-color: #d9d9d9;
}
.rectangle2605 {
  width: 165px;
  height: 53px;
  background-color: #ff6e6e;
}
.rectangle2602 {
  width: 365px;
  height: 344px;
  background-color: #d9d9d9;
}
